* {
    margin: 0;
    padding: 0;
}

:focus {
    outline: 2px solid red;
}

::-moz-focus-inner {
    border: none;
}

/* =================================
   Small sreen
   ================================= */

/* =================================
   breadcrumb and his elements
   ================================= */

/* =================================
   breadcrumb
   ================================= */

.breadcrumb {
    display: flex;
    flex-direction: column;
    background-color: cornflowerblue;
    padding: 15px 0;
}

/* =================================
   breadcrumb-btn
   ================================= */

.breadcrumb-btn {
    display: none;
}

.breadcrumb-btn:checked ~ .logo-and-label > .label-breadcrumb-btn > .breadcrumb-icon::before {
    transform: rotate(45deg) translate(3px, 4px);
    transition: 0.9s;
}

.breadcrumb-btn:checked ~ .logo-and-label >  .label-breadcrumb-btn > .breadcrumb-icon {
    background-color: transparent;
    transition: 0.9s;
}

.breadcrumb-btn:checked ~ .logo-and-label >.label-breadcrumb-btn > .breadcrumb-icon::after {
    transform: rotate(-45deg) translate(3px, -4px);
    transition: 0.9s;
}

.breadcrumb-btn:checked ~ .breadcrumb-links {
    display:flex;
    flex-direction: column;
}

/* =================================
   logo-and-label
   ================================= */

.logo-and-label {
    display: flex;
    justify-content: space-between;
}

/* =================================
   logo
   ================================= */

.logo {
    font-weight: bold;
    margin: 0 15px;
}

/* =================================
   breadcrumb-icon
   ================================= */

.breadcrumb-icon::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -5px;
}

.breadcrumb-icon {
    width: 25px;
    height: 2px;
    background-color: black;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px 15px;
}

.breadcrumb-icon::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5px;
}

/* =================================
   breadcrumb-links
   ================================= */

.breadcrumb-links {
    display: none;
    list-style: none;
    padding: 0 15px;
}

/* =================================
   breadcrumb-link
   ================================= */
.breadcrumb-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 15px;
    width: 90px;
    color: white;
    font-size: 16px;
}

.breadcrumb-link:hover {
    background-color: lightblue;
    transition: 0.9s;
}

/* =================================
   services
   ================================= */
.services {
    display: flex;
    flex-direction: column;
}

/* =================================
   service-btn
   ================================= */

.service-btn {
    display: none;
}

.service-btn:checked ~ .label-service-btn ~ .service-menu {
    display: flex;
}

.service-btn:checked ~ .label-service-btn > .service-icon::before {
    background-color: transparent;
    transition: 0.9s;
}

.service-btn:checked ~ .label-service-btn {
    background-color: lightblue;
}

/* =================================
   label-service-btn
   ================================= */

.label-service-btn {
    display: flex;
    width: 120px;
}


/* =================================
   service-text
   ================================= */

.service-text {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 15px;
}

/* =================================
   service-icon
   ================================= */

.service-icon {
    display: flex;
    flex-direction: column;
    width: 15px;
    height: 2px;
    background-color: white;
    position: relative;
    margin: 25px 0 0 0;
}

.service-icon::before {
    content: "";
    width: 15px;
    height: 2px;
    background-color: white;
    display: flex;
    flex-direction: column;
    top: -5px;
    position: absolute;
    transform: rotate(90deg) translate(5px, 0);

}

/* =================================
   service-menu
   ================================= */

.service-menu {
    list-style: none;
    flex-direction: column;
    display: none;
}

.service-menu .breadcrumb-link {
    width: 100px;
}

.service-menu .breadcrumb-link:hover {
    border: 0 solid; 
    border-radius: 10px;
    transition: 0.9s;
}


